.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: var(--color-dark);
}

.container {
  
}

.left {
  position: relative;
  display: flex;
  align-items: center;
}